#Prerequisites
*.d

#CompiledObjectfiles
*.slo
*.lo
*.o

#PrecompiledHeaders
*.gch
*.pch

#CompiledDynamiclibraries
*.so
*.dylib
*.dll

#Fortranmodulefiles
*.mod
*.smod

#CompiledStaticlibraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app

#Build
build/

#Temps
*.swp

#VisualStudioCode
.vscode/
.vs/